<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add_Credit</title>
</head>
<body>
    <h3>Add More credit to your balance Amount: <%= userData.credits %></h3>
    <br>
    <h3>Your balance is <%= userData.balance %></h3>

    <form action="/wallet/addCredit" method="POST">
        <input 
        type="number"
        name="credit"
        placeholder="Enter amount to add into balance"
        min="10"
        required
        />
        <button type="submit">Add</button>
    </form>

    <h4>Credit History</h4>
    <% for(let credit of credit_history) { %>
        <hr>
        <p> Reciever : <%= credit.receiver?.name %></p>
        <p>Amount Credited : <%= credit.creditedAmount %></p>
        <p>Type : <%= credit.type %></p>
        <p>Date and Time : <%= credit.date.toLocaleString() %></p>
        <% } %>
        <hr>
</body>
</html>