<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance</title>
</head>
<body>
    <h3>Your Current Balance is : <%= userData?.amount %></h3>
    
    <h4>History</h4>
    <% for(let transaction of transaction_history) { %>
        <p> Sender's ID : <%= transaction.sender %></p>
        <p> Reciever's ID : <%= transaction.reciever %></p>
        <p>Amount transancted : <%= transaction.amount %></p>
        <p>Type of Transaction : <%= transaction.type %></p>
        <p>Date and Time : <%= transaction.date %></p>
    <% } %>
</body>
</html>